<header
        class="fixed top-0 z-10 w-full bg-gradient-to-b from-white to-transparent dark:from-stone-900 dark:to-transparent">
  <div
       class="flex flex-row justify-between max-w-prose mx-auto px-6 py-4 text-sm xs:text-sm sm:text-base md:text-md lg:text-lg xl:text-xl">
    <a href="/"
       aria-label="MTYPW"
       title="MTYPW"
       class="text-2xl">
      MTYPW
    </a>
    <button onclick="toggleTheme()">
      <svg class="w-6 h-6"
           fill="none"
           stroke="currentColor"
           viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
      </svg>
    </button>
  </div>
</header>